<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PhxStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.AvalonDock" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.0.0" newVersion="2.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.0.0" newVersion="2.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <switches>
      <add name="PhxStudioSwitches" value="All" />
      <add name="WpfSwitches" value="Critical, Error, Warning" />
    </switches>
    <sharedListeners>
      <add name="XmlTrace" type="System.Diagnostics.XmlWriterTraceListener"
        initializeData="PhxStudio.svclog"
        />
      <add name="BetterTextTrace"
        type="KSoft.Debug.KSoftFileLogTraceListener, KSoft"
        Location="ExecutableDirectory"
        Append="false"
        DoNotIncludeEventId="true"
        />
      <add name="TraceList" type="PhxStudio.Modules.TraceList.TraceListTraceListener,PhxStudio" />
    </sharedListeners>
    <sources>
      <!-- KSoft.dll -->
      <source name="KSoft" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
          <add name="TraceList" />
        </listeners>
      </source>
      <source name="KSoft.IO" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
          <add name="TraceList" />
        </listeners>
      </source>
      <source name="KSoft.LowLevel" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
          <add name="TraceList" />
        </listeners>
      </source>
      <source name="KSoft.Reflection" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
          <add name="TraceList" />
        </listeners>
      </source>
      <source name="KSoft.Text" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
          <add name="TraceList" />
        </listeners>
      </source>
      <source name="KSoft.Util" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
          <add name="TraceList" />
        </listeners>
      </source>

      <!-- KSoft.Phoenix.dll -->
      <source name="KSoft.Phoenix" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
          <add name="TraceList" />
        </listeners>
      </source>
      <source name="KSoft.Phoenix.Engine" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
          <add name="TraceList" />
        </listeners>
      </source>
      <source name="KSoft.Phoenix.Resource" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
          <add name="TraceList" />
        </listeners>
      </source>
      <source name="KSoft.Security" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
          <add name="TraceList" />
        </listeners>
      </source>
      <source name="KSoft.Phoenix.Triggers" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
          <add name="TraceList" />
        </listeners>
      </source>
      <source name="KSoft.Phoenix.XML" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
          <add name="TraceList" />
        </listeners>
      </source>

      <!-- PhxStudio.exe -->
      <source name="PhxStudio" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
          <add name="TraceList" />
        </listeners>
      </source>

      <!--.NET-->
      <source name="System.Windows.Data" switchName="WpfSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="System.Windows.ResourceDictionary" switchName="WpfSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
      <listeners>
        <add name="BetterTextTrace" />
        <add name="TraceList" />
      </listeners>
    </trace>
  </system.diagnostics>
  <userSettings>
    <PhxStudio.Properties.Settings>
      <setting name="MainWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MainWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="TraceSourceOptions" serializeAs="Xml">
        <value>
          <TraceSourceSettings>
          </TraceSourceSettings>
        </value>
      </setting>
    </PhxStudio.Properties.Settings>
  </userSettings>
</configuration>