<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PhxStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.AvalonDock" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.0.0" newVersion="2.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <!-- KSoft.dll -->
      <source name="KSoft" />
      <source name="KSoft.IO" />
      <source name="KSoft.LowLevel" />
      <source name="KSoft.Reflection" />
      <source name="KSoft.Text" />
      <source name="KSoft.Util" />

      <!-- KSoft.Phoenix.dll -->
      <source name="KSoft.Phoenix" />
      <source name="KSoft.Phoenix.Engine" />
      <source name="KSoft.Phoenix.Resource" />
      <source name="KSoft.Security" />
      <source name="KSoft.Phoenix.Triggers" />
      <source name="KSoft.Phoenix.XML" />

      <!-- PhxStudio.exe -->
      <source name="PhxStudio" />
    </sources>
  </system.diagnostics>
  <userSettings>
    <PhxStudio.Properties.Settings>
      <setting name="MainWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MainWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="TraceSourceOptions" serializeAs="Xml">
        <value>
          <TraceSourceSettings>
          </TraceSourceSettings>
        </value>
      </setting>
    </PhxStudio.Properties.Settings>
  </userSettings>
</configuration>